<!DOCTYPE html>
<html ng-app="robot">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>智能客服小明</title>

    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="css/message.css"/>
    <!--link type="text/css" rel="stylesheet" href="css/jumbotron-narrow.css" /-->
    <link type="text/css" rel="stylesheet" href="css/chatbox.css">

    <script src="http://cdn.bootcss.com/socket.io/1.3.7/socket.io.min.js"></script>
    <script src="http://cdn.bootcss.com/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-sanitize.min.js"></script>
    <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/Math.uuid.js"></script>
    <script src="js/jquery.nanoscroller.min.js"></script>
    <script src="js/controller.js"></script>
    <!--script>
        $(document).ready(function(){
           $(".nano").nanoScroller({scroll:'bottom'});
        });
    </script-->

</head>
<body ng-controller="ChatCtrl">
<div id="container" class="wrap" style="left: 149px; height: 566px; right: auto; top: 5px;">
    <!--990宽度时请计算margin-top=（屏幕高度-990px）/2-->
    <!--头部区域-->
    <div class="header" onselectstart="return false">
        <div class="logo fixPng"><img src="img/robot-logo1.png" width="535" height="88">
        </div>
    </div>
    </p>
    <hr>
    <!--聊天区域-->
    <div class="l-area fl">
        <div class="l-area-content">
            <!--全屏时请计算chat-block的高度height=屏幕高度-184px-->
            <div class="nano has-scrollbar">
                <div id="chatcontent" class="nano-content chat-block">
                    <p ng-repeat="msgitem in msghistory" ng-bind-html="msgitem.html">
                    </p>
                </div>
                <div class="chat-tips" ng-show="tips.length > 0">
                    <p>{{ tips }}</p>
                </div>
                <div class="nano-pane" >
                    <div class="nano-slider"></div>
                </div>
            </div>
            <div class="clearfix" ng-show="isRobotService">
                <a style="float:right; color: darkseagreen" href="javascript:void(0)" ng-click="switchToHuman()">转人工服务</a>
            </div>
            <div class="edit-block">
                <div class="clearfix">
                    <div class="inputL"></div>
                    <div id="sugguestions" class="suggestion-area" ng-show="showSugg">
                        <ul ng-repeat="sugg in suggestion">
                            <li class="suggestion" ><a href="javascript:void(0)" ng-click="clickSuggestion(sugg)">{{ sugg.text}}</a></li>
                        </ul>
                    </div>

                    <div class="input-block">
                        <textarea id="text-in" name="text-in" class="text-type grayInput" autocomplete="off"
                                  style="width: 577px; color: rgb(153, 153, 153);" ng-model="msg.text"
                                  placeholder="请简要描述您的问题，如“收费标准”" ng-change="getSuggestion()" ng-keyup="Enter($event)">
                        </textarea>
                    </div>
                </div>
                <i id="winsend" class="send" ng-click="sendMessage()"></i>
            </div>
        </div>
    </div>

    <!--产品信息区域-->
    <div class="r-area fl">
        <ul class="side-nav clearfix">
            <li class="side-nav-item fl current" ng-mouseover="changeArrowPos(0,2)">
                <a href="javascript:void(0);"  >商品信息</a>
            </li>
            <li class="side-nav-item fl current" ng-mouseover="changeArrowPos(1,2)">
                <a href="javascript:void(0);" >常见问题</a>
            </li>
            <li style="_display: none;">
                <div class="tab_arrow" style="left: 0px;">
                    <b></b>
                </div>
            </li>
        </ul>
        <!--快捷查询信息显示区域-->
        <div id="navcontent" style="height: 462px;">
            <div id="nav0" style="display: block">
                <div class="fl">
                    <a href="{{ item.url }}">
                        <img ng-src="{{ item.image }}" style="height: 100px; width: 100px">
                    </a>
                </div>
                <span>
                    <a href="{{ item.url }}" title="{{ item.title }}" target="_blank">
                        <span style="font-size:10px">{{ item.title }}
                        </span>
                    </a>
                </span>
            </div>
            <div id="nav1" style="display: none">
                <ul>
                    <li class="intro-bar">运费怎么算</li>
                    <li class="intro-bar">怎么下单</li>
                    <li class="intro-bar">怎么下单</li>
                    <li class="intro-bar">怎么下单</li>
                    <li class="intro-bar">怎么下单</li>
                </ul>

            </div>
        </div>
    </div>
</div>
</body>


</html>